<%= form_for(@user) do |f| %>
<%= render "common/errors", model: @user %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>

<% if @user.new_record? %>
<p>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</p>
<% end %>

<p>
  <%= f.submit button_css %>
  <%= link_to "Cancel", @user, button_css %>
</p>
<% end %>
