<h1>User <%= @user.name %></h1>

<p class="actions">
  [ <%= link_to "Back", users_path %>
  | <%= link_to "Edit", edit_user_path(@user) %>
  | <%= link_to "Delete", @user, method: :delete, confirm: "Really delete user #{@user.name}?" %>
  ]
</p>

<p>
  <span>Name:</span>
  <span><%= @user.name %></span>
</p>
<p>
  <span>Email:</span>
  <span><%= @user.email %></span>
</p>

<h3>Wiki Permissions</h3>

<table>
  <% @wikis.each do |wiki| %>
  <tr>
    <td><%= wiki.name %></td>
    <td>
      <%= form_for(@user.permission_for(wiki)) do |f| %>
      <p>
        <%= f.select :role, ["reader", "writer", "admin"] %>
        <%= f.hidden_field :wiki_id %>
        <%= f.hidden_field :user_id %>
        <%= f.submit "Update"%>
      </p>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
