<div class="row">
  <div class="columns small-8">
    <h1>Edit Page: <%= @page.name %></h1>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <%= form_for([@wiki, @page]) do |f| %>
    <%= render "common/errors", model: @page %>
    <p>
      <%= f.text_area :content, class: 'page-content' %>
    </p>
    <p>
      <%= f.submit button_css %>
      <%= link_to "Cancel", [@wiki, @page], button_css %>
    </p>
    <% end %>
  </div>
</div>
