<h1 id="pagetitle">Create Page</h1>

<div class="row">
  <div class="columns small-12">
    <%= form_for([@wiki, @page]) do |f| %>
    <%= render "common/errors", model: @page %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content, class: 'page-content' %>
    </p>
    <p>
      <%= f.submit button_css %>
      <%= link_to "Cancel", @wiki, button_css %>
    </p>
    <% end %>
  </div>
</div>
