<h1 id="pagetitle">Create Page</h1>

<%= form_for([@wiki, @page]) do |f| %>
<%= render "common/errors", model: @page %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :content %><br />
  <%= f.text_area :content, rows: 10, cols: 50 %>
</p>
<p>
  <%= f.submit button_css %>
  <%= link_to "Cancel", @wiki, button_css %>
</p>
<% end %>
