<div class="row separate">
  <div class="columns small-6">
    <h1>Wiki: <%= @wiki.name %></h1>
  </div>
  <div class="columns small-6">
    <p class="actions">
      <%= link_to "Edit", edit_wiki_path(@wiki), button_css %>
      <%= link_to "Delete", wiki_path(@wiki),
          button_css.merge(
            method: :delete,
            data: { confirm: "Really delete wiki #{@wiki.name}?" })
          %>
    </p>
  </div>
</div>

<p>
  Home Page:
  <%= link_to @wiki.home_page, named_page_path(@wiki.name, @wiki.home_page) %>
</p>

<div class="row">
  <div class="columns small-8">
    <h2>Pages</h2>
  </div>
  <div class="columns small-4">
    <p class="actions">
      <%= link_to "Create page", new_wiki_page_path(@wiki), button_css %>
    </p>
  </div>
</div>


<ul>
  <% @wiki.pages.each do |page| %>
  <li>
    <%= link_to page.name, named_page_link(page) %>
  </li>
  <% end %>
</ul>
