<div class="row header">
  <div class="small-8 columns">
    <h1>
      <%= link_to "WyRiki", wikis_path %>
      <% if @wiki %>
      / <%= link_to @wiki.name, @wiki %>
      <% end %>
    </h1>
  </div>
  <div class="small-4 columns">
    <p class="actions">
      <% if current_user.logged_in? %>
      <%= current_user.name %>
      (<%= link_to "sign out", session_path, method: :delete %>)
      <% else %>
      <%= link_to "Sign in", new_session_path %>
      <% end %>
    </p>
  </div>
</div>
