<!DOCTYPE html>
<html>
<head>
  <title>Wyriki</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>

  <div class="row">
    <div class="large-12 columns">
      <%= render "layouts/flash_messages" %>
    </div>
  </div>

  <div class="row">
    <div class="large-10 columns">
      <%= yield %>
    </div>
    <div class="medium-2 columns">
      <%= render "layouts/sidebar" %>
    </div>
  </div>

</body>
</html>
